<!--<nav>-->
<!--  <div id="logoNav">Logo</div>-->
<!--  <div class="navBarButtons">-->
<!--    <div id="сabinetNavButton">Личный кабинет</div>-->
<!--    <div id="donatNavButton">Донат</div>-->
<!--    <div id="forumNavButton">Форум</div>-->
<!--    <div id="newsNavButton">Новости</div>-->
<!--    <div id="rulesNavButton">Правила</div>-->
<!--    <div id="serverNavButton">О серверах</div>-->
<!--  </div>-->

<!--  <div id="lists" hidden>-->

<!--    <div>1</div>-->
<!--    <div>1</div>-->
<!--    <div>1</div>-->
<!--    <div>1</div>-->
<!--    <div>1</div>-->
<!--    <div>-->
<!--      <ul>-->
<!--        <li>Server 1</li>-->
<!--        <li>Server 2</li>-->
<!--        <li>Server 3</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<nav>
  <div class="logo">Logo</div>
  <ul class="topmenu">
    <li>
      <a href="" class="down">О серверах</a>

      <ul class="submenu">
        <li><a href="">Server 1</a></li>
        <li><a href="">Server 2</a></li>
      </ul>
    </li>

    <li><a href="">Правила</a></li>

    <li><a href="">Новости</a></li>

    <li><a href="">Форум</a></li>

    <li><a href="">Донат</a></li>

    <li><a href="">Личный кабинет</a></li>
  </ul>
</nav>





