<nav>
  <div id="logoNav">Logo</div>
  <div class="navBarButtons">
    <div id="donatNavButton">Донат</div>
    <div id="forumNavButton">Форум</div>
    <div id="newsNavButton">Новости</div>
    <div id="rulesNavButton">Правила</div>
    <div id="сabinetNavButton">Личный кабинет</div>
    <div id="serverNavButton">О серверах</div>
  </div>

  <div id="lists" hidden>

    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>1</div>
    <div>
      <ul>
        <li>Server 1</li>
        <li>Server 2</li>
        <li>Server 3</li>
      </ul>
    </div>
  </div>
</nav>




