<div class="block"></div>

<nav #nav>
  <div class="menu">
    <ul class="topmenu" >

      <li>
        <a href="" class="down">О серверах</a>

        <ul class="submenu">
          <li><a href="#monitoring"  target="_self">Мониторинг серверов</a></li>
          <li><a href="">Server 2</a></li>
        </ul>
      </li>

      <li><a href="">Правила</a></li>

      <li><a href="#news"  target="_self">Новости</a></li>

      <li><a href="">Форум</a></li>

      <li><a href="">Донат</a></li>

      <li><a href="">Личный кабинет</a></li>
    </ul>
  </div>
</nav>





